<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Classe</h1>
</div>
<div class="card mb-40">
    <div class="card-body">
        <h5 class="card-title border-bottom border-italia">
            <i class="fa fa-search"></i> Dettaglio
        </h5>
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row mt-40 justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nom" [(ngModel)]="item.nom" name="nom" #nom="ngModel" >
                        <label [className]="item.nom && item.nom.length > 0 ? 'active' : ''" for="nom">Nom</label>
                    </div>
                    <!-- RELATIONS -->
                    


                    <h2 class="mb-20 mt-40" *ngIf="externalExam_class_exam[0] || externalEtudiant_etud_class[0]">Relazioni esterne</h2>
        
                        <h3 *ngIf="externalExam_class_exam[0]">Exam</h3>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of externalExam_class_exam">
                                <a [routerLink]="['/exams', item._id]">
                                    {{item._id}}
                                </a>
                            </li>
                        </ul>
                        <h3 *ngIf="externalEtudiant_etud_class[0]">Etudiant</h3>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of externalEtudiant_etud_class">
                                <a [routerLink]="['/etudiants', item._id]">
                                    {{item._id}}
                                </a>
                            </li>
                        </ul>

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Salva</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Torna alla lista</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>