<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Exam</h1>
</div>
<div class="card mb-40">
    <div class="card-body">
        <h5 class="card-title border-bottom border-italia">
            <i class="fa fa-search"></i> Dettaglio
        </h5>
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row mt-40 justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="number" class="form-control" id="classe" [(ngModel)]="item.classe" name="classe" #classe="ngModel" >
                        <label [className]="item.classe? 'active' : ''" for="classe">Classe</label>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" id="date" [(ngModel)]="item.date" name="date" #date="ngModel" >
                        <label class="active" for="date">Date</label>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="nom_exam" [(ngModel)]="item.nom_exam" name="nom_exam" #nom_exam="ngModel" >
                        <label [className]="item.nom_exam? 'active' : ''" for="nom_exam">Nom_exam</label>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="professor" [(ngModel)]="item.professor" name="professor" #professor="ngModel" >
                        <label [className]="item.professor? 'active' : ''" for="professor">Professor</label>
                    </div>
                    <!-- RELATIONS -->
                    <h2 class="mb-20 mt-40">Relazioni</h2>

                    <label for="classe">Classe</label>
                    <select name="class_exam" id="class_exam" [(ngModel)]="item.class_exam" class="form-control" #class_exam="ngModel"  required>
                        <option disabled selected>Seleziona una opzione</option>                                                    
                        <option *ngFor="let item of listClass_exam" [value]="item._id">{{item._id}}</option>
                    </select>
                        <div class="invalid-feedback">Valore obbligatorio</div>
                    <label for="exam">Exam</label>
                    <select name="nom_exam" id="nom_exam" [(ngModel)]="item.nom_exam" class="form-control" #nom_exam="ngModel"  >
                        <option disabled selected>Seleziona una opzione</option>                                                    
                        <option *ngFor="let item of listNom_exam" [value]="item._id">{{item._id}}</option>
                    </select>

                    <label for="professeure">Professeure</label>
                    <select name="prof_exam" id="prof_exam" [(ngModel)]="item.prof_exam" class="form-control" #prof_exam="ngModel"  required>
                        <option disabled selected>Seleziona una opzione</option>                                                    
                        <option *ngFor="let item of listProf_exam" [value]="item._id">{{item._id}}</option>
                    </select>
                        <div class="invalid-feedback">Valore obbligatorio</div>

                    
        

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Salva</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Torna alla lista</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>