<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/classes" routerLinkActive="active">Link to List Classe</a>
    </div>
    <div>
        <a routerLink="/etudiants" routerLinkActive="active">Link to List Etudiant</a>
    </div>
    <div>
        <a routerLink="/exams" routerLinkActive="active">Link to List Exam</a>
    </div>
    <div>
        <a routerLink="/matieres" routerLinkActive="active">Link to List Matiere</a>
    </div>
    <div>
        <a routerLink="/professeures" routerLinkActive="active">Link to List Professeure</a>
    </div>
 <!-- END LINKS -->
</div>